html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

.app {
  /*width: 960px;*/
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.about {
  width:100%;
}

.reader {
  margin-left:10%;
  margin-right:10%;
}

.player-wrapper {

  position: relative;
  padding-top: 60%;
  margin-left: 10%;
  margin-right:10%;
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;

}

.yugtatun {
  color: #D58E3E;
}

.reader-text {
  font-size:25px;
  line-height:45px;
}

@media only screen and (max-width: 600px) {
  .reader {
    margin-left:1%;
    margin-right:1%;
  }
  .reader-text {
    font-size:20px;
    line-height:35px;
  }

  .player-wrapper {

    position: relative;
    padding-top: 60%;
    margin-left: 0%;
    margin-right:0%;
  }

}

nav ul {
  list-style: none;
  display: flex;
  background-color: black;
  margin-bottom: 20px;
}

nav ul li {
  padding: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

.current {
  border-bottom: 4px solid white;
}

h1 {
  margin-bottom: 20px;
}

p {
  white-space:nowrap;
  /*margin-bottom: 15px;*/
}
